@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  /* --Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%); */
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
}

aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}
.container {
  display: grid;
  max-width: 110rem;
  margin: 0 auto;
  padding: 4rem;
  height: 100vh;
  grid-template-columns: 5fr 6fr;
  column-gap: 5rem;
  align-items: center;
  justify-items: center;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.card--front,
.card--back {
  width: 85%;
  position: relative;
}

.card--front {
  align-self: flex-start;
}
.card--back {
  align-self: flex-end;
}

img {
  height: 100%;
  width: 100%;
}
.text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  color: var(--light-grayish-violet);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.circle--1 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.circle--2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #fff;
}
.number--card {
  margin-top: 4rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 3px;
}
.name--card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.cvc--card {
  position: absolute;
  right: 13%;
  top: 44%;
}
.form--container {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  padding: 3rem;
}

.form--control {
  margin-bottom: 1rem;
}
.form--control-inline {
  display: flex;
  gap: 2rem;
}
.date,
.cvc {
  width: 50%;
}

label {
  display: block;
  text-transform: uppercase;
  color: var(--very-dark-violet);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 0.6rem;
}
.cardholder,
.card--number,
.security {
  width: 100%;
}
.month,
.year {
  width: 49%;
}

.cardholder,
.card--number,
.year,
.month,
.security {
  padding: 1.2rem;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}
.cardholder::placeholder,
.card--number::placeholder,
.year::placeholder,
.month::placeholder,
.security::placeholder {
  color: var(--light-grayish-violet);
  font-size: 1.6rem;
}
.cardholder:focus,
.card--number:focus,
.year:focus,
.month:focus,
.security:focus {
  outline: none;
  border-color: hsl(278, 94%, 30%);
}
.btn {
  padding: 1.4rem;
  border-radius: 8px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  /* transition: background-color 200ms; */
}
.success--container {
  display: flex;
  width: 100%;
  max-width: 40rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}
.hidden {
  display: none;
}

.heading--success {
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 2.4rem;
  margin: 2rem 0;
}
.paragraph--success {
  font-size: 1.6rem;
  color: var(--light-grayish-violet);
  margin-bottom: 3rem;
}

.attribution {
  margin-top: 4rem;
  font-size: 1.4rem;
  text-align: center;
}
.attribution a {
  color: var(--very-dark-violet);
}
.error--msg {
  visibility: hidden;
  color: var(--red);
  font-size: 1.2rem;
}
.display--error {
  visibility: visible;
}
.error--border {
  border-color: var(--red);
}

/*Media Queries*/

@media (max-width: 970px) {
  .container {
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }

  aside {
    width: 40%;
  }

  .number--card {
    font-size: 1.6rem;
    margin-top: 3rem;
  }
}

@media (max-width: 774px) {
  .text {
    font-size: 1.1rem;
  }
  .number--card {
    font-size: 1.4rem;
  }

  .form--container {
    padding: 1rem;
  }
}
@media (max-width: 710px) {
  body {
    min-height: 100vh;
  }
  .text {
    padding: 1rem;
  }
  .text,
  .number--card {
    font-size: 1.1rem;
  }
  .number--card {
    margin-top: 1rem;
    letter-spacing: 2px;
  }
  .container {
    grid-template-columns: 3fr 4fr;
    column-gap: 2rem;
    padding: 2rem;
  }
  .cards {
    gap: 2rem;
  }

  .card--front,
  .card--back {
    width: 92%;
  }
}

@media (max-width: 573px) {
  aside {
    height: 30%;
    width: 100%;
  }

  label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 7fr;
    align-items: center;
  }
  .form--container {
    padding: 0 2rem 2rem;
    justify-content: center;
  }
  .cards {
    flex-direction: column-reverse;
    gap: 0rem;
  }
  .card--front {
    transform: translateY(-30%);
    z-index: 99;
  }
  .text {
    font-size: 1.4rem;
  }
  .number--card {
    font-size: 2rem;
  }
  .form--container {
    justify-content: space-between;
  }
}

@media (max-width: 420px) {
  .number--card {
    letter-spacing: 1px;
    font-size: 1.6rem;
  }
  .form--container {
    padding: 0;
  }
  .date {
    width: 60%;
  }
  .cvc {
    width: 40%;
  }
}
@media (max-width: 345px) {
  main {
    margin-top: -2rem;
  }
  .form--control-inline {
    flex-direction: column;
    gap: 0;
  }
  .date {
    width: 100%;
  }
  .cvc {
    width: 100%;
  }
}
