@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;600;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  /* --Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%); */
  --red: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

html {
  font-size: 62.5%;
}
body {
  display: grid;
  grid-template-columns: 3fr 7fr;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background {
  width: 100%;
  height: 100%;
  background-image: url(images/bg-main-desktop.png);
  background-repeat: no-repeat;
}

.card--front {
  position: absolute;
  top: 33%;
  right: 60%;
  transform: translateY(-50%);
}
.card--back {
  position: absolute;
  top: 63%;
  right: 55%;
  transform: translateY(-50%);
}

img {
  transform: scale(0.8);
}
.app--container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
}
.form,
.success--container {
  max-width: 40rem;
}
.form--control {
  margin-bottom: 1rem;
}
.form--control-inline {
  display: flex;
  gap: 2rem;
}
.date {
  width: 50%;
}
.cvc {
  width: 50%;
}
label {
  display: block;
  text-transform: uppercase;
  color: var(--very-dark-violet);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  margin-bottom: 0.6rem;
}
.cardholder,
.card--number,
.security {
  width: 100%;
}
.month,
.year {
  width: 49%;
}

.cardholder,
.card--number,
.year,
.month,
.security {
  padding: 1.2rem;
  border-radius: 8px;
  border: 1px solid var(--light-grayish-violet);
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
}
.cardholder::placeholder,
.card--number::placeholder,
.year::placeholder,
.month::placeholder,
.security::placeholder {
  color: var(--light-grayish-violet);
  font-size: 1.6rem;
}
.cardholder:focus,
.card--number:focus,
.year:focus,
.month:focus,
.security:focus {
  outline: none;
  border-color: hsl(278, 94%, 30%);
}
.btn {
  padding: 1.4rem;
  border-radius: 8px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  width: 100%;
  /* transition: background-color 200ms; */
}
.success--container {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.heading--success {
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 2.4rem;
  margin: 2rem 0;
}
.paragraph--success {
  font-size: 1.4rem;
  color: var(--light-grayish-violet);
  margin-bottom: 3rem;
}

.attribution {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.4rem;
  text-align: center;
}
.attribution a {
  color: var(--very-dark-violet);
}
.error--msg {
  visibility: hidden;
  color: var(--red);
  font-size: 1.2rem;
}
.display--error {
  visibility: visible;
}
.error--border {
  border-color: var(--red);
}
